@model PoliceProjectMVC.Models.ApiAndWebContent
@{
    ViewBag.Title = "About";
}

@section Head{
    <style>
        .mystyle {
            width: 100%;
            padding: 30px !important;
            box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 50%);
            white-space: pre-line;
            text-align: justify;
            height: 100%;
        }
    </style>
}



<section class="container my-3 p-0">
    <div class="row g-3">
        <h4 class="sheader mt-3">@Resources.Resources.titleabout</h4>
    </div>

    <div class="row g-3">
        <div class="col-md-5">
            <iframe class="mystyle" frameborder="0" allowfullscreen="allowfullscreen" aria-hidden="false" tabindex="0" style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28944.95695405722!2d86.19551251562501!3d24.927994599999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f22ba391303ff3%3A0x8e803da4a8b6d421!2sCyber%20Cell%20Bettiah!5e0!3m2!1sen!2sin!4v1679030303354!5m2!1sen!2sin&quot; height=&quot;450&quot; style=&quot;border:0;&quot; allowfullscreen=&quot;&quot; loading=&quot;lazy&quot;></iframe>"></iframe>
        </div>

        <div class="col-md-7">
            <div class="mystyle">
                @Model.WebAbout
            </div>
        </div>
    </div>
</section>
