
@{
    ViewBag.Title = "About";
}

@section Head{
    <style>
        .mystyle {
            width: 100%;
            padding: 30px !important;
            box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 50%);
            white-space: pre-line;
            text-align: justify;
            height: 100%;
        }
    </style>
}



<section class="container my-3 p-0">
    <div class="row g-3">
        <h4 class="sheader mt-3">@Resources.Resources.titleabout</h4>
    </div>

    <div class="row g-3">
        <div class="col-md-5">
            <iframe class="mystyle" frameborder="0" allowfullscreen="false" aria-hidden="false" tabindex="0" style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28944.95695405722!2d86.19551251562501!3d24.927994599999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f22ba391303ff3%3A0x8e803da4a8b6d421!2sCyber%20Cell%20Jamui!5e0!3m2!1sen!2sin!4v1679030303354!5m2!1sen!2sin&quot; height=&quot;450&quot; style=&quot;border:0;&quot; allowfullscreen=&quot;&quot; loading=&quot;lazy&quot;></iframe>"></iframe>
        </div>

        <div class="col-md-7">
            <div class="mystyle">
                Bettiah district police is a part of Munger Police Range. It has 2  sub-divisions, 16 Police Stations (including dedicated Police Station for Mahila and SC/ST) and 2 OP. Bettiah district police have 278 Police Officers, 55 Havaldars, 961 Constables and 342 BHG. 12 Police Stations of Bettiah district are naxal affected. Several camps of CAPF  including CRPF/SSB are situated at different locations including Gidhheshwar Pahad, Chormara and other tough terrain areas of Bettiah district. Also 4 BMP companies and STF forces  are deployed in district.
                Bettiah Police has organized several Medical camps as part of community Policing to reach out to tribal as well as to assimilate them to main stream of society.
                Under the leadership of the Superintendent of Police bettiah immense efforts are being taken towards tackling naxals, inclusion of affected people to mainstream and maintenance of law and order as well as public order with a goal of crime free and peaceful society. Bettiah Police is committed to ensure safety, security of public and society.
            </div>
        </div>
    </div>
</section>
