@model IEnumerable<PoliceProjectMVC.Models.Announcement>
@{
    ViewBag.Title = "Announcement List";
    int b = 1;
}

<section class="container my-3 p-0">
    <div class="row g-3">
        <h4 class="sheader mt-3">Annoucement List</h4>
    </div>

    <div class="row g-3">
        <div class="col-md-12">
            <table class="table table-bordered table-striped table-sm text-nowrap" style="width:100%;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Description/Officer Name</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(b++)</td>
                            <td>@item.Title</td>
                            <td>@item.Description</td>
                            <td>
                                <a href="@item.ImageUrl" target="_blank" class="btn btn-link">View</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
