@{
    ViewBag.Title = "Character";
}

<section class="container my-3 p-0">
    <div class="row g-3">
        <h4 class="sheader mt-3">Character</h4>
    </div>

    <div class="row g-3">
        <div style="margin-bottom: 20px; margin-top: 50px; justify-content: center; align-items: center; text-align: center;">
            To apply for character Please click on following link<br />
            <a href="https://serviceonline.bihar.gov.in/" target="_blank">
                https://serviceonline.bihar.gov.in/
            </a>
        </div>
    </div>
</section>
