
@{
    ViewBag.Title = "About";
}

@section Head{
    <style>
        .mystyle {
            width: 100%;
            padding: 30px !important;
            box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 50%);
            white-space: pre-line;
            text-align: justify;
            height: 100%;
        }

        .contact-details {
            width: 100%;
            min-height: 350px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            text-align: center;
            background-color: #fff;
            border-radius: 20px;
            border: 1px solid;
        }

        .contacts {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>
}



<section class="container my-3 p-0">
    <div class="row g-3">
        <h4 class="sheader mt-3">Contact Us</h4>
    </div>

    <div class="row g-3">
        <div class="col-md-5">
            <iframe class="mystyle" frameborder="0" allowfullscreen="allowfullscreen" aria-hidden="false" tabindex="0" style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28944.95695405722!2d86.19551251562501!3d24.927994599999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f22ba391303ff3%3A0x8e803da4a8b6d421!2sCyber%20Cell%20bettiah!5e0!3m2!1sen!2sin!4v1679030303354!5m2!1sen!2sin&quot; height=&quot;450&quot; style=&quot;border:0;&quot; allowfullscreen=&quot;&quot; loading=&quot;lazy&quot;></iframe>"></iframe>
        </div>

        <div class="col-md-7">
            <div class="address-area">
                <div class="contact-details">
                    <div class="contacts">
                        <div class="row">
                            <div class="col-4" style="text-align: end; font-weight: 500; font-size: 18px;">
                                <label>Address: </label>
                            </div>
                            <div class="col-6" style="text-align: start; width: 300px; font-size: 18px;">
                                <label>Office of the Superintendent of Police, Collectorate Building, bettiah, Bihar 811307.</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4" style="text-align: end; font-weight: 500; font-size: 18px;">
                                <span>Landline No: </span>
                            </div>
                            <div class="col-4" style="text-align: start; font-size: 18px;">
                                <span><a href="tel:06254232563">06254-232563</a></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4" style="text-align: end; font-weight: 500; font-size: 18px;">
                                <span>Mobile No: </span>
                            </div>
                            <div class="col-6" style="text-align: start; font-size: 18px;">
                                <span><a href="tel:9431822986">9431822986</a></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4" style="text-align: end; font-weight: 500; font-size: 18px;">
                                <span>E-Mail </span>
                            </div>
                            <div class="col-6" style="text-align: start; font-size: 18px;">
                                <span><a href="mailto:sp-bettiah-bih@nic.in">sp-bettiah-bih@nic.in</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <a href="/Home/HelpLineNo" class="btn btn-primary me-2" tabindex="0"> Helpline No </a>
                        <a href="/Home/Complaint" class="btn btn-primary" tabindex="0"> Online Complaint </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
