
@{
    ViewBag.Title = "Our Team";
}

@section Head{
    <style>
        .mystyle {
            width: 100%;
            padding: 30px !important;
            box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 50%);
            white-space: pre-line;
            text-align: justify;
            height: 100%;
        }
    </style>
}



<section class="container my-3 p-0">
    <div class="row g-3">
        <h4 class="sheader mt-3">Police Station</h4>
    </div>

    <div class="row g-3">
        <div class="col-md-12">
            <table class="table dtable table-bordered table-striped table-sm text-nowrap" style="width:100%;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>EventId</th>
                        <th>Link</th>
                        <th>ImageUrl</th>
                        <th>Priority</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</section>
