@using PoliceProjectMVC.Custome_Helpers

@{
    ViewBag.Title = "RTI";
}

<section class="container my-3 p-0">
    <div class="row g-3">
        <h4 class="sheader mt-3">RTI</h4>
    </div>

    <div class="row g-3">

    </div>
</section>
