@using PoliceProjectMVC.Custome_Helpers
@model PoliceProjectMVC.Models.TblRole
@{
    ViewBag.PageTitle = "Add New Role";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <div class="card card-outline card-primary">
            <div class="card-header d-flex align-items-center">
                <h3 class="card-title mb-0">Add New Role</h3>
                <div class="card-tools ml-auto">
                    <a href="/MyUser/RoleIndex" class="btn btn-primary"><span class="fas fa-backward"></span>&nbsp;&nbsp;Back To List</a>
                </div>
            </div>
            <div class="card-body">
                <form action="/MyUser/RoleCreate" method="post">
                    <div class="row">
                        <div class="col-sm-12">@Html.GenerateField(m => m.RoleName, "RoleName", "text")</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-outline-success float-right">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>